.container {
  flex: display;
  flex-direction: row;
  width: 100vw;
  height: 100vh;
}

.simon-button {
  width: calc(100% / 2);
}

.simon-button.red {
  background:red;
  opacity: 0.5;
}

.simon-button.green {
  background:green;
  opacity: 0.5;
}

.simon-button.blue {
  background:blue;
  opacity: 0.5;
}

.simon-button.yellow {
  background:yellow;
  opacity: 0.5;
}

.simon-button.blue:hover{
  opacity: 1;
}
.simon-button.red:hover{
  opacity: 1;
}
.simon-button.green:hover{
  opacity: 1;
}
.simon-button.yellow:hover{
  opacity: 1;
}

.simon-button.blue.hover{
  opacity: 1;
}
.simon-button.red.hover{
  opacity: 1;
}
.simon-button.green.hover{
  opacity: 1;
}
.simon-button.yellow.hover{
  opacity: 1;
}