.container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 0.2fr repeat(2, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  width: 100vw;
  height: 100vh;
}

.score {
  display: grid;
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
  justify-items: center;
  align-items: center;
}

/* .wrapper-simon {
  width: 100%;
  position: relative;
  height: 100%;
}

.simon-button {
  width: calc(100% / 2);
  position: relative;
  height: calc(100% / 2);
} */

.simon-button.red {
  background:red;
  opacity: 0.5;
}

.simon-button.green {
  background:green;
  opacity: 0.5;
}

.simon-button.blue {
  background:blue;
  opacity: 0.5;
}

.simon-button.yellow {
  background:yellow;
  opacity: 0.5;
}

.simon-button.blue:hover{
  opacity: 1;
}
.simon-button.red:hover{
  opacity: 1;
}
.simon-button.green:hover{
  opacity: 1;
}
.simon-button.yellow:hover{
  opacity: 1;
}

.simon-button.blue.hover{
  animation: hover 2s ease-in-out 0s infinite;
}
.simon-button.red.hover{
  animation: hover 2s ease-in-out 0s infinite;
}
.simon-button.green.hover{
  animation: hover 2s ease-in-out 0s infinite;
}
.simon-button.yellow.hover{
  animation: hover 2s ease-in-out 0s infinite;
}

@keyframes hover {
  0% {
    opacity: 0.5;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0.5;
  }
}